body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customize the color and height of the progress bar */
#nprogress .bar {
  background: #29d;
  height: 3px;
}

/* Customize the spinner */
#nprogress .spinner-icon {
  border-top-color: #29d;
  border-left-color: #29d;
}
